[Desktop Entry]
Type=Application
Name=PrivilegedBridge
Comment=Practice and learn fractions
Exec=PrivilegedBridge
Icon=org.oneal.PrivilegedBridge
Terminal=false
Categories=Education;
